html, body {
    background-color:bisque;
    font-family: "Baskerville","Hiragino Kaku Gothic ProN", sans-serif;
}

.header h1 {
    text-align: center;
}
.header img {
    width: 100%;
    height: auto;
}
.profile img {
    padding-left: 0px;
    margin-left: 0px;
    width: 25%;
    height: auto;
    float: left;
}
.profile h2 {
    padding: 30px 50px;
    margin-bottom: 10x;
}
.profile h3 {
    margin-top: 10px;
}
.profile p {
    margin: 10px;
}
.profile h4 {
    margin-top: 10px;
}
.contents h3 {
    border-bottom: 2px solid gray;
}
img {
    width: 200px;
    height: auto;
}

